@namespace UI

@inherits BaseComponent

<div class="@GetCssName(nameof(EditableField)) d-flex flex-row align-center overflow-hidden pa-1 @ClassName">
    <Condition Evaluation="IsEditMode">
        <NotMatch>
            <MudText Class="text-ellipsis">
                @Value
            </MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Size="Size.Small"
                           OnClick="OnStartEditButtonClick"
                           Class="mx-1" />
        </NotMatch>
        <Match>
            <MudTooltip @bind-IsVisible="_isValidationTooltipVisible"
                        Arrow="true"
                        ShowOnFocus="false" ShowOnClick="false" ShowOnHover="false"
                        Class="mx-1">
                <ChildContent>
                    <MudTextField @ref="_textField" T="string"
                                  Value="_innerValue" ValueChanged="OnInnerValueChanged"
                                  Immediate="true"
                                  Margin="Margin.Dense" Variant="Variant.Outlined" />
                </ChildContent>
                <TooltipContent>
                    <MudContainer MaxWidth="MaxWidth.ExtraSmall"
                                  Class="px-0">
                        <Iterations Items="_validationMessages" Context="validationMessage">
                            <MudText>@validationMessage</MudText>
                        </Iterations>
                    </MudContainer>
                </TooltipContent>
            </MudTooltip>
            <MudIconButton Icon="@Icons.Material.Filled.Check"
                           Size="Size.Small" Variant="Variant.Outlined"
                           Color="Color.Success"
                           OnClick="OnSubmitEditButtonClick"
                           Class="rounded-circle mx-1" />
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           Size="Size.Small" Variant="Variant.Outlined"
                           Color="Color.Error"
                           OnClick="OnCancelEditButtonClick"
                           Class="rounded-circle mx-1" />
        </Match>
    </Condition>
</div>