@namespace UI

@inherits BaseComponent

<div class="@GetCssName(nameof(EcCard)) d-flex flex-column align-start w-100 py-1 px-2 @ClassName"
     style="@StyleName"
@attributes="UserAttributes"
@onclick="@OnClick">
    <MudContainer Class="d-flex flex-row align-center px-0">
        <MudText Class="text-ellipsis">@Title</MudText>

        <div Class="ec-card__optional-content flex-grow-1">
            @OptionalContent
        </div>
    </MudContainer>

    <Condition Evaluation="BottomContent != null">
        <Match>
            <MudContainer Class="ec-card__bottom-content px-0">
                @BottomContent
            </MudContainer>
        </Match>
    </Condition>
</div>
