@namespace Client.Core.Features.Products.UpdateProductDialog

@inherits BaseDialogComponent

<div class="@GetCssName(nameof(UpdateProductDialog)) eat-calc-dialog-content @ClassName"
     style="@StyleName"
@attributes="UserAttributes">
    <ScrollableContainerWithToolbar>
        <ToolbarContent>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
                           OnClick="OnBackButtonClick"
                           Class="me-1" />
            <MudText Typo="Typo.h5">Обновление продукта</MudText>
        </ToolbarContent>
        <Content>
            <MudForm @ref="_updateProductForm" Model="_updateProductViewModel"
                     Validation="_updateProductViewModelValidator.Validation"
                     Class="w-100">
                <MudText Class="mt-4">Название</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Title"
                              For="@(() => _updateProductViewModel.Title)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />

                <MudText Class="mt-4">Описание</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Description"
                              For="@(() => _updateProductViewModel.Description)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense"
                              Lines="3" />

                <MudText Class="mt-4">Грамм</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Grams"
                              For="@(() => _updateProductViewModel.Grams)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />

                <MudText Class="mt-4">Белки</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Protein"
                              For="@(() => _updateProductViewModel.Protein)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />

                <MudText Class="mt-4">Жиры</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Fat"
                              For="@(() => _updateProductViewModel.Fat)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />

                <MudText Class="mt-4">Углеводы</MudText>
                <MudTextField @bind-Value="_updateProductViewModel.Carbohydrate"
                              For="@(() => _updateProductViewModel.Carbohydrate)" Immediate="true"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />

            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       OnClick="OnSubmit"
                       Class="px-10 mt-4">
                <Condition Evaluation="_saving">
                    <Match>
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Сохранение...</MudText>
                    </Match>
                    <NotMatch>
                        Сохранить
                    </NotMatch>
                </Condition>
            </MudButton>
        </Content>
    </ScrollableContainerWithToolbar>
</div>