@using EatCalculator.UI.Entities.Products.Models.Store;
@using EatCalculator.UI.Entities.Products.Components;
@using EatCalculator.UI.Features.Products;

@inherits BasePageComponent

<div class="@GetCssName(nameof(ProductsPage)) inner-main-content h-100 overflow-hidden @ClassName">
    <ScrollableContainerWithToolbar>
        <ToolbarContent>
            <MudText Typo="Typo.h5">Продукты</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Add"
                           Size="Size.Small"
                           OnClick="OnCreateProductButtonClick" />
        </ToolbarContent>
        <Content>
            <Condition Evaluation="@(_productsListSelector.Value.Count() > 0)">
                <Match>
                    <Iterations Items="@_productsListSelector.Value" Context="product">
                        <ProductRow @key="product" Product="product">
                            <OptionalContent>
                                <MudContainer Class="d-flex flex-row align-center px-0">
                                    <ProductPFCInfo Product="product" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Size="Size.Small"
                                                   OnClick="_ => OnUpdateProductButtonClick(product)"
                                                   Class="ms-auto" />
                                    <DeleteProduct Product="product" />
                                </MudContainer>
                            </OptionalContent>
                        </ProductRow>
                    </Iterations>
                </Match>
                <NotMatch>
                    <MudText Align="Align.Center">Здесь пока ничего нет</MudText>
                </NotMatch>
            </Condition>
        </Content>
    </ScrollableContainerWithToolbar>
</div>