@using Client.Core.App.Components

@inherits FluxorLayout

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="client-app-layout">
    <MudLayout>
        <ClientAppLoader>
            <Content>
                <MudSwipeArea OnSwipe="OnSwipe"
                              Class="overflow-hidden relative">
                    <MudDrawerContainer Class="h-100">
                        <MudDrawer @bind-Open="_drawerOpened"
                                   Fixed="false" Elevation="1"
                                   Variant="@DrawerVariant.Mini" Breakpoint="Breakpoint.Xl"
                                   OpenMiniOnHover="true"
                                   Class="@_drawerCssName">
                            <MudNavMenu>
                                <MudNavLink Match="NavLinkMatch.All" Href="/"
                                            Icon="@Icons.Material.Filled.AllOut">
                                    EatCalculator
                                </MudNavLink>
                                <MudDivider />
                                <MudNavLink Match="NavLinkMatch.Prefix" Href="@($"{Routes.Products.BasePath}")"
                                            Icon="@Icons.Material.Filled.FormatListBulleted"
                                            Class="mt-2">
                                    Продукты
                                </MudNavLink>
                                <MudNavLink Match="NavLinkMatch.All" Href="@($"{Routes.Days.BasePath}/{Routes.Days.Calendar}")"
                                            Icon="@Icons.Material.Filled.Today">
                                    Календарь
                                </MudNavLink>
                            </MudNavMenu>
                        </MudDrawer>
                        <MudMainContent Class="h-vh-100">
                            @Body
                        </MudMainContent>
                    </MudDrawerContainer>
                </MudSwipeArea>
            </Content>
        </ClientAppLoader>
    </MudLayout>
</div>