@using EatCalculator.UI.Entities.Days.Components
@using EatCalculator.UI.Features.Days
@using EatCalculator.UI.Features.Days.CreateDayDialog.Components
@using Fluxor.Blazor.Web.Components

@inherits BasePageComponent

<div class="@GetCssName(nameof(IndexPage)) inner-main-content h-100 overflow-hidden @ClassName">
    <ScrollableContainerWithToolbar>
        <ToolbarContent>
            <MudText Typo="Typo.h5">Дни</MudText>
            <MudSpacer />
        </ToolbarContent>
        <Content>
            <Condition Evaluation="@(_dayListSelector.Value.Count() > 0)">
                <Match>
                    <Iterations Items="@_dayListSelector.Value" Context="day">
                        <DayRow @key="day" Day="day">
                            <OptionalContent>
                                <MudPaper Width="100%" Elevation="0"
                                          Class="d-flex flex-row align-center w-100">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Size="Size.Small"
                                                   OnClick="_ => OnEditDayButtonClick(day.Id)"
                                                   Class="ms-auto" />
                                    <DeleteDayButton Day="day" />
                                </MudPaper>
                            </OptionalContent>
                        </DayRow>
                    </Iterations>
                </Match>
                <NotMatch>
                    <MudText Align="Align.Center">Здесь пока ничего нет</MudText>
                </NotMatch>
            </Condition>
        </Content>
    </ScrollableContainerWithToolbar>
</div>