@using EatCalculator.UI.Entities.Days.Components
@using EatCalculator.UI.Features.Days.CreateDayDialog
@using EatCalculator.UI.Features.Days.DeleteDayButton
@using Fluxor.Blazor.Web.Components

@inherits BasePageComponent

<div class="@GetCssName(nameof(IndexPage)) inner-main-content @ClassName">
    <ScrollableContainerWithToolbar>
        <ToolbarContent>
            <MudText Typo="Typo.h5">Дни</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Add"
                           Size="Size.Small"
                           OnClick="OnCreateDayButtonClick" />
        </ToolbarContent>
        <Content>
            <Condition Evaluation="@(_dayListSelector.Value.Count() > 0)">
                <Match>
                    <Iterations Items="@_dayListSelector.Value" Context="day">
                        <DayRow @key="day" Day="day"
                                OnClick="_ => OnDayRowClick(day)"
                                Class="cursor-pointer">
                            <OptionalContent>
                                <MudContainer Class="d-flex flex-row align-center px-0">
                                    <DeleteDayButton Day="day"
                                                     Class="ms-auto" />
                                </MudContainer>
                            </OptionalContent>
                        </DayRow>
                    </Iterations>
                </Match>
                <NotMatch>
                    <MudText Align="Align.Center">Здесь пока ничего нет</MudText>
                </NotMatch>
            </Condition>
        </Content>
    </ScrollableContainerWithToolbar>
</div>