@using Client.Core.Entities.Meals
@using Client.Core.Features.Meals.MealPortionsInfo
@using Client.Core.Features.Meals.DeleteMealButton

@inherits BasePageComponent

<div class="@GetCssName(nameof(DayPage)) inner-main-content @ClassName"
@attributes="@UserAttributes">
    <Condition Evaluation="_currentDay.Value != null">
        <Match>
            <ScrollableContainerWithToolbar>
                <ToolbarContent>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
                                   OnClick="OnBackToDaysButtonClick"
                                   Class="me-1" />
                    <EditableField Value="@_title"
                                   ValueChanged="newValue => OnChangeDayInfo(() => _title = newValue)"
                                   Validation="_titleValidator"
                                   Typo="Typo.h5" />
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Filled.Add"
                                   OnClick="OnCreateMealButtonClick"/>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert"
                             Dense="true">
                        <MudMenuItem Icon="@Icons.Material.Filled.Add"
                                     OnClick="OnCreateMealButtonClick">
                            Добавить приём пищи
                        </MudMenuItem>
                    </MudMenu>
                </ToolbarContent>
                <AdditionalToolbarContent>
                    <MudContainer Class="d-flex flex-column px-2 mt-2">
                        <MudContainer Class="d-flex flex-row align-center px-0">
                            <MudText>БЖУ в %</MudText>
                            <MudNumericField T="double"
                                             Value="_proteinPercentages"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _proteinPercentages = newValue)"
                                             Label="Б"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input ms-auto me-1" />
                            <MudNumericField T="double"
                                             Value="_fatPercentages"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _fatPercentages = newValue)"
                                             Label="Ж"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input mx-1" />
                            <MudNumericField T="double"
                                             Value="_carbohydratePercentages"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _carbohydratePercentages = newValue)"
                                             Label="У"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input mx-1" />
                        </MudContainer>
                        <MudContainer Class="d-flex flex-row align-center mt-2 px-0">
                            <MudText>Приёмы пищи</MudText>
                            <MudNumericField T="int"
                                             Value="_proteinMealCount"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _proteinMealCount = newValue)"
                                             Label="Б"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input ms-auto me-1" />
                            <MudNumericField T="int"
                                             Value="_fatMealCount"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _fatMealCount = newValue)"
                                             Label="Ж"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input mx-1" />
                            <MudNumericField T="int"
                                             Value="_carbohydrateMealCount"
                                             ValueChanged="newValue => OnChangeDayInfo(() => _carbohydrateMealCount = newValue)"
                                             Label="У"
                                             Min="0" Max="100" HideSpinButtons="true"
                                             Margin="Margin.Dense" Variant="Variant.Outlined"
                                             Class="numeric-input mx-1" />
                        </MudContainer>
                    </MudContainer>
                    <MudDivider Class="flex-grow-0 mt-2" />
                </AdditionalToolbarContent>
                <Content>
                    <MudContainer Class="d-flex flex-column align-center px-0">
                        <Condition Evaluation="_meals.Value.Count() > 0">
                            <Match>
                                <Iterations Items="@_meals.Value" Context="meal">
                                    <MealCard @key="meal" Meal="meal">
                                        <OptionalContent>
                                            <MudContainer Class="d-flex flex-row align-center px-0">
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                               Size="Size.Small"
                                                               OnClick="_ => OnEditMealButtonClick(meal)"
                                                               Class="ms-auto" />
                                                <DeleteMealButton Meal="meal" />
                                            </MudContainer>
                                        </OptionalContent>
                                        <BottomContent>
                                            <Condition Evaluation="meal.Portions.Count > 0">
                                                <Match>
                                                    <MealPortionsInfo Day="_currentDay.Value"
                                                                      Meal="meal" />
                                                </Match>
                                            </Condition>
                                        </BottomContent>
                                    </MealCard>
                                </Iterations>
                            </Match>
                            <NotMatch>
                                <MudText Align="Align.Center">Здесь пока ничего нет</MudText>
                            </NotMatch>
                        </Condition>
                    </MudContainer>
                </Content>
            </ScrollableContainerWithToolbar>

            <Condition Evaluation="_dayValidation.Count > 0">
                <Match>
                    <MobileBottomInfoBlock>
                        <MudCard Class="w-100">
                            <MudCardContent>
                                <MudContainer Class="d-flex flex-column align-start px-0 my-2">
                                    <MudText Typo="Typo.h6">Подсказки</MudText>
                                    <Iterations Items="_dayValidation" Context="portionsValidationMessage">
                                        <MudText Color="Color.Info">@portionsValidationMessage</MudText>
                                    </Iterations>
                                </MudContainer>
                            </MudCardContent>
                        </MudCard>
                    </MobileBottomInfoBlock>
                </Match>
            </Condition>
        </Match>
    </Condition>
</div>