@inherits BaseComponent

<div class="@GetCssName(nameof(MealCard)) d-flex flex-column align-start border rounded w-100 mt-2 py-1 px-2 @ClassName"
     style="@StyleName"
     @attributes="UserAttributes"
     @onclick="@OnClick">
    <MudContainer Class="d-flex flex-row align-center px-0">
        <MudText>@Meal.Title</MudText>

        <div Class="meal-card__optional-content flex-grow-1">
            @OptionalContent
        </div>
    </MudContainer>

    <Condition Evaluation="BottomContent != null">
        <Match>
            <MudContainer Class="meal-card__bottom-content px-0">
                @BottomContent
            </MudContainer>
        </Match>
    </Condition>
</div>
